<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Add your own Fact!</title>
</head>
<body>
    <h2> Got a new fact to share? Add it here!</h2>
    <div>
        <form>
            <label for="author"> Name </label>
            <input name="author" type="text">
            <br/>
            <label for="fact">New Pet Fact</label>
            <textarea name="fact">Type here!</textarea>
            <br/>
            <input type="submit" value="Publish your fact!">
        </form>
    </div>
    <a href="/pets"> Previous Page </a>
</body>
</html>